.title-bar {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #7a695c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px #594b4270;
  z-index: 10;

  span {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  img {
    border-radius: 5px;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      background-color: #00000010;
    }

    &:active {
      background-color: #00000020;
    }
  }

  .setting-icon {
    left: 10px;
    width: 22px;
    height: 22px;
    padding: 4px;
  }

  .plus-icon {
    right: 10px;
  }
}